In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies=movies.merge(credits,on='title')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [8]:
## checking if there is any missing data in dataset
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [9]:
##missing data is very small so we are dropping missing rows
movies.dropna(inplace=True)

In [10]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [11]:
## checking if there are any duplicate rows
movies.duplicated().sum()

0

In [12]:
## now we have create tags using ('overview','genres','keywords','cast','crew') these column
## these tags will be used for recommendation
movies.iloc[0]['genres']

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [13]:
## genres contains id and name ,we only need genres name to create tags
type(movies.iloc[0]['genres'])
## type is string we have to convert it into list

str

In [14]:
import ast
f=ast.literal_eval(movies.iloc[0]['genres'])
print(type(f))
f[1]['name']

<class 'list'>

'Adventure'

In [15]:
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
        
    return l

In [16]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [17]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [18]:
## from cast we are only fetching top 3 dictionaries only
def convert3(obj):
    l=[]
    count=0
    for i in ast.literal_eval(obj):
        if count!=3:
            l.append(i['name'])
            count+=1
        else:
            break
        
    return l

In [19]:
movies['cast'] = movies['cast'].apply(convert3)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
## we only want to fetch for director only in crew column
movies['crew'][0]

'[{"credit_id": "52fe48009251416c750aca23", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "539c47ecc3a36810e3001f87", "department": "Art", "gender": 2, "id": 496, "job": "Production Design", "name": "Rick Carter"}, {"credit_id": "54491c89c3a3680fb4001cf7", "department": "Sound", "gender": 0, "id": 900, "job": "Sound Designer", "name": "Christopher Boyes"}, {"credit_id": "54491cb70e0a267480001bd0", "department": "Sound", "gender": 0, "id": 900, "job": "Supervising Sound Editor", "name": "Christopher Boyes"}, {"credit_id": "539c4a4cc3a36810c9002101", "department": "Production", "gender": 1, "id": 1262, "job": "Casting", "name": "Mali Finn"}, {"credit_id": "5544ee3b925141499f0008fc", "department": "Sound", "gender": 2, "id": 1729, "job": "Original Music Composer", "name": "James Horner"}, {"credit_id": "52fe48009251416c750ac9c3", "department": "Directing", "gender": 2, "id": 2710, "job": "Director", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750ac9d9", "department": "Writing", "gender": 2, "id": 2710, "job": "Writer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca17", "department": "Editing", "gender": 2, "id": 2710, "job": "Editor", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca29", "department": "Production", "gender": 2, "id": 2710, "job": "Producer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca3f", "department": "Writing", "gender": 2, "id": 2710, "job": "Screenplay", "name": "James Cameron"}, {"credit_id": "539c4987c3a36810ba0021a4", "department": "Art", "gender": 2, "id": 7236, "job": "Art Direction", "name": "Andrew Menzies"}, {"credit_id": "549598c3c3a3686ae9004383", "department": "Visual Effects", "gender": 0, "id": 6690, "job": "Visual Effects Producer", "name": "Jill Brooks"}, {"credit_id": "52fe48009251416c750aca4b", "department": "Production", "gender": 1, "id": 6347, "job": "Casting", "name": "Margery Simkin"}, {"credit_id": "570b6f419251417da70032fe", "department": "Art", "gender": 2, "id": 6878, "job": "Supervising Art Director", "name": "Kevin Ishioka"}, {"credit_id": "5495a0fac3a3686ae9004468", "department": "Sound", "gender": 0, "id": 6883, "job": "Music Editor", "name": "Dick Bernstein"}, {"credit_id": "54959706c3a3686af3003e81", "department": "Sound", "gender": 0, "id": 8159, "job": "Sound Effects Editor", "name": "Shannon Mills"}, {"credit_id": "54491d58c3a3680fb1001ccb", "department": "Sound", "gender": 0, "id": 8160, "job": "Foley", "name": "Dennie Thorpe"}, {"credit_id": "54491d6cc3a3680fa5001b2c", "department": "Sound", "gender": 0, "id": 8163, "job": "Foley", "name": "Jana Vance"}, {"credit_id": "52fe48009251416c750aca57", "department": "Costume & Make-Up", "gender": 1, "id": 8527, "job": "Costume Design", "name": "Deborah Lynn Scott"}, {"credit_id": "52fe48009251416c750aca2f", "department": "Production", "gender": 2, "id": 8529, "job": "Producer", "name": "Jon Landau"}, {"credit_id": "539c4937c3a36810ba002194", "department": "Art", "gender": 0, "id": 9618, "job": "Art Direction", "name": "Sean Haworth"}, {"credit_id": "539c49b6c3a36810c10020e6", "department": "Art", "gender": 1, "id": 12653, "job": "Set Decoration", "name": "Kim Sinclair"}, {"credit_id": "570b6f2f9251413a0e00020d", "department": "Art", "gender": 1, "id": 12653, "job": "Supervising Art Director", "name": "Kim Sinclair"}, {"credit_id": "54491a6c0e0a26748c001b19", "department": "Art", "gender": 2, "id": 14350, "job": "Set Designer", "name": "Richard F. Mays"}, {"credit_id": "56928cf4c3a3684cff0025c4", "department": "Production", "gender": 1, "id": 20294, "job": "Executive Producer", "name": "Laeta Kalogridis"}, {"credit_id": "52fe48009251416c750aca51", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "52fe48009251416c750aca11", "department": "Camera", "gender": 2, "id": 18265, "job": "Director of Photography", "name": "Mauro Fiore"}, {"credit_id": "5449194d0e0a26748f001b39", "department": "Art", "gender": 0, "id": 42281, "job": "Set Designer", "name": "Scott Herbertson"}, {"credit_id": "52fe48009251416c750aca05", "department": "Crew", "gender": 0, "id": 42288, "job": "Stunts", "name": "Woody Schultz"}, {"credit_id": "5592aefb92514152de0010f5", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Makeup Artist", "name": "Linda DeVetta"}, {"credit_id": "5592afa492514152de00112c", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Hairstylist", "name": "Linda DeVetta"}, {"credit_id": "54959ed592514130fc002e5d", "department": "Camera", "gender": 2, "id": 33302, "job": "Camera Operator", "name": "Richard Bluck"}, {"credit_id": "539c4891c3a36810ba002147", "department": "Art", "gender": 2, "id": 33303, "job": "Art Direction", "name": "Simon Bright"}, {"credit_id": "54959c069251417a81001f3a", "department": "Visual Effects", "gender": 0, "id": 113145, "job": "Visual Effects Supervisor", "name": "Richard Martin"}, {"credit_id": "54959a0dc3a3680ff5002c8d", "department": "Crew", "gender": 2, "id": 58188, "job": "Visual Effects Editor", "name": "Steve R. Moore"}, {"credit_id": "52fe48009251416c750aca1d", "department": "Editing", "gender": 2, "id": 58871, "job": "Editor", "name": "John Refoua"}, {"credit_id": "54491a4dc3a3680fc30018ca", "department": "Art", "gender": 0, "id": 92359, "job": "Set Designer", "name": "Karl J. Martin"}, {"credit_id": "52fe48009251416c750aca35", "department": "Camera", "gender": 1, "id": 72201, "job": "Director of Photography", "name": "Chiling Lin"}, {"credit_id": "52fe48009251416c750ac9ff", "department": "Crew", "gender": 0, "id": 89714, "job": "Stunts", "name": "Ilram Choi"}, {"credit_id": "54959c529251416e2b004394", "department": "Visual Effects", "gender": 2, "id": 93214, "job": "Visual Effects Supervisor", "name": "Steven Quale"}, {"credit_id": "54491edf0e0a267489001c37", "department": "Crew", "gender": 1, "id": 122607, "job": "Dialect Coach", "name": "Carla Meyer"}, {"credit_id": "539c485bc3a368653d001a3a", "department": "Art", "gender": 2, "id": 132585, "job": "Art Direction", "name": "Nick Bassett"}, {"credit_id": "539c4903c3a368653d001a74", "department": "Art", "gender": 0, "id": 132596, "job": "Art Direction", "name": "Jill Cormack"}, {"credit_id": "539c4967c3a368653d001a94", "department": "Art", "gender": 0, "id": 132604, "job": "Art Direction", "name": "Andy McLaren"}, {"credit_id": "52fe48009251416c750aca45", "department": "Crew", "gender": 0, "id": 236696, "job": "Motion Capture Artist", "name": "Terry Notary"}, {"credit_id": "54959e02c3a3680fc60027d2", "department": "Crew", "gender": 2, "id": 956198, "job": "Stunt Coordinator", "name": "Garrett Warren"}, {"credit_id": "54959ca3c3a3686ae300438c", "department": "Visual Effects", "gender": 2, "id": 957874, "job": "Visual Effects Supervisor", "name": "Jonathan Rothbart"}, {"credit_id": "570b6f519251412c74001b2f", "department": "Art", "gender": 0, "id": 957889, "job": "Supervising Art Director", "name": "Stefan Dechant"}, {"credit_id": "570b6f62c3a3680b77007460", "department": "Art", "gender": 2, "id": 959555, "job": "Supervising Art Director", "name": "Todd Cherniawsky"}, {"credit_id": "539c4a3ac3a36810da0021cc", "department": "Production", "gender": 0, "id": 1016177, "job": "Casting", "name": "Miranda Rivers"}, {"credit_id": "539c482cc3a36810c1002062", "department": "Art", "gender": 0, "id": 1032536, "job": "Production Design", "name": "Robert Stromberg"}, {"credit_id": "539c4b65c3a36810c9002125", "department": "Costume & Make-Up", "gender": 2, "id": 1071680, "job": "Costume Design", "name": "John Harding"}, {"credit_id": "54959e6692514130fc002e4e", "department": "Camera", "gender": 0, "id": 1177364, "job": "Steadicam Operator", "name": "Roberto De Angelis"}, {"credit_id": "539c49f1c3a368653d001aac", "department": "Costume & Make-Up", "gender": 2, "id": 1202850, "job": "Makeup Department Head", "name": "Mike Smithson"}, {"credit_id": "5495999ec3a3686ae100460c", "department": "Visual Effects", "gender": 0, "id": 1204668, "job": "Visual Effects Producer", "name": "Alain Lalanne"}, {"credit_id": "54959cdfc3a3681153002729", "department": "Visual Effects", "gender": 0, "id": 1206410, "job": "Visual Effects Supervisor", "name": "Lucas Salton"}, {"credit_id": "549596239251417a81001eae", "department": "Crew", "gender": 0, "id": 1234266, "job": "Post Production Supervisor", "name": "Janace Tashjian"}, {"credit_id": "54959c859251416e1e003efe", "department": "Visual Effects", "gender": 0, "id": 1271932, "job": "Visual Effects Supervisor", "name": "Stephen Rosenbaum"}, {"credit_id": "5592af28c3a368775a00105f", "department": "Costume & Make-Up", "gender": 0, "id": 1310064, "job": "Makeup Artist", "name": "Frankie Karena"}, {"credit_id": "539c4adfc3a36810e300203b", "department": "Costume & Make-Up", "gender": 1, "id": 1319844, "job": "Costume Supervisor", "name": "Lisa Lovaas"}, {"credit_id": "54959b579251416e2b004371", "department": "Visual Effects", "gender": 0, "id": 1327028, "job": "Visual Effects Supervisor", "name": "Jonathan Fawkner"}, {"credit_id": "539c48a7c3a36810b5001fa7", "department": "Art", "gender": 0, "id": 1330561, "job": "Art Direction", "name": "Robert Bavin"}, {"credit_id": "539c4a71c3a36810da0021e0", "department": "Costume & Make-Up", "gender": 0, "id": 1330567, "job": "Costume Supervisor", "name": "Anthony Almaraz"}, {"credit_id": "539c4a8ac3a36810ba0021e4", "department": "Costume & Make-Up", "gender": 0, "id": 1330570, "job": "Costume Supervisor", "name": "Carolyn M. Fenton"}, {"credit_id": "539c4ab6c3a36810da0021f0", "department": "Costume & Make-Up", "gender": 0, "id": 1330574, "job": "Costume Supervisor", "name": "Beth Koenigsberg"}, {"credit_id": "54491ab70e0a267480001ba2", "department": "Art", "gender": 0, "id": 1336191, "job": "Set Designer", "name": "Sam Page"}, {"credit_id": "544919d9c3a3680fc30018bd", "department": "Art", "gender": 0, "id": 1339441, "job": "Set Designer", "name": "Tex Kadonaga"}, {"credit_id": "54491cf50e0a267483001b0c", "department": "Editing", "gender": 0, "id": 1352422, "job": "Dialogue Editor", "name": "Kim Foscato"}, {"credit_id": "544919f40e0a26748c001b09", "department": "Art", "gender": 0, "id": 1352962, "job": "Set Designer", "name": "Tammy S. Lee"}, {"credit_id": "5495a115c3a3680ff5002d71", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "5495a12f92514130fc002e94", "department": "Crew", "gender": 0, "id": 1357071, "job": "Transportation Coordinator", "name": "James Waitkus"}, {"credit_id": "5495976fc3a36811530026b0", "department": "Sound", "gender": 0, "id": 1360103, "job": "Supervising Sound Editor", "name": "Addison Teague"}, {"credit_id": "54491837c3a3680fb1001c5a", "department": "Art", "gender": 2, "id": 1376887, "job": "Set Designer", "name": "C. Scott Baker"}, {"credit_id": "54491878c3a3680fb4001c9d", "department": "Art", "gender": 0, "id": 1376888, "job": "Set Designer", "name": "Luke Caska"}, {"credit_id": "544918dac3a3680fa5001ae0", "department": "Art", "gender": 0, "id": 1376889, "job": "Set Designer", "name": "David Chow"}, {"credit_id": "544919110e0a267486001b68", "department": "Art", "gender": 0, "id": 1376890, "job": "Set Designer", "name": "Jonathan Dyer"}, {"credit_id": "54491967c3a3680faa001b5e", "department": "Art", "gender": 0, "id": 1376891, "job": "Set Designer", "name": "Joseph Hiura"}, {"credit_id": "54491997c3a3680fb1001c8a", "department": "Art", "gender": 0, "id": 1376892, "job": "Art Department Coordinator", "name": "Rebecca Jellie"}, {"credit_id": "544919ba0e0a26748f001b42", "department": "Art", "gender": 0, "id": 1376893, "job": "Set Designer", "name": "Robert Andrew Johnson"}, {"credit_id": "54491b1dc3a3680faa001b8c", "department": "Art", "gender": 0, "id": 1376895, "job": "Assistant Art Director", "name": "Mike Stassi"}, {"credit_id": "54491b79c3a3680fbb001826", "department": "Art", "gender": 0, "id": 1376897, "job": "Construction Coordinator", "name": "John Villarino"}, {"credit_id": "54491baec3a3680fb4001ce6", "department": "Art", "gender": 2, "id": 1376898, "job": "Assistant Art Director", "name": "Jeffrey Wisniewski"}, {"credit_id": "54491d2fc3a3680fb4001d07", "department": "Editing", "gender": 0, "id": 1376899, "job": "Dialogue Editor", "name": "Cheryl Nardi"}, {"credit_id": "54491d86c3a3680fa5001b2f", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "54491d9dc3a3680faa001bb0", "department": "Sound", "gender": 0, "id": 1376902, "job": "Supervising Sound Editor", "name": "Gwendolyn Yates Whittle"}, {"credit_id": "54491dc10e0a267486001bce", "department": "Sound", "gender": 0, "id": 1376903, "job": "Sound Re-Recording Mixer", "name": "William Stein"}, {"credit_id": "54491f500e0a26747c001c07", "department": "Crew", "gender": 0, "id": 1376909, "job": "Choreographer", "name": "Lula Washington"}, {"credit_id": "549599239251412c4e002a2e", "department": "Visual Effects", "gender": 0, "id": 1391692, "job": "Visual Effects Producer", "name": "Chris Del Conte"}, {"credit_id": "54959d54c3a36831b8001d9a", "department": "Visual Effects", "gender": 2, "id": 1391695, "job": "Visual Effects Supervisor", "name": "R. Christopher White"}, {"credit_id": "54959bdf9251412c4e002a66", "department": "Visual Effects", "gender": 0, "id": 1394070, "job": "Visual Effects Supervisor", "name": "Dan Lemmon"}, {"credit_id": "5495971d92514132ed002922", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Effects Editor", "name": "Tim Nielsen"}, {"credit_id": "5592b25792514152cc0011aa", "department": "Crew", "gender": 0, "id": 1394286, "job": "CG Supervisor", "name": "Michael Mulholland"}, {"credit_id": "54959a329251416e2b004355", "department": "Crew", "gender": 0, "id": 1394750, "job": "Visual Effects Editor", "name": "Thomas Nittmann"}, {"credit_id": "54959d6dc3a3686ae9004401", "department": "Visual Effects", "gender": 0, "id": 1394755, "job": "Visual Effects Supervisor", "name": "Edson Williams"}, {"credit_id": "5495a08fc3a3686ae300441c", "department": "Editing", "gender": 0, "id": 1394953, "job": "Digital Intermediate", "name": "Christine Carr"}, {"credit_id": "55402d659251413d6d000249", "department": "Visual Effects", "gender": 0, "id": 1395269, "job": "Visual Effects Supervisor", "name": "John Bruno"}, {"credit_id": "54959e7b9251416e1e003f3e", "department": "Camera", "gender": 0, "id": 1398970, "job": "Steadicam Operator", "name": "David Emmerichs"}, {"credit_id": "54959734c3a3686ae10045e0", "department": "Sound", "gender": 0, "id": 1400906, "job": "Sound Effects Editor", "name": "Christopher Scarabosio"}, {"credit_id": "549595dd92514130fc002d79", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "549596009251413af70028cc", "department": "Production", "gender": 0, "id": 1401785, "job": "Production Manager", "name": "Brigitte Yorke"}, {"credit_id": "549596e892514130fc002d99", "department": "Sound", "gender": 0, "id": 1401786, "job": "Sound Effects Editor", "name": "Ken Fischer"}, {"credit_id": "549598229251412c4e002a1c", "department": "Crew", "gender": 0, "id": 1401787, "job": "Special Effects Coordinator", "name": "Iain Hutton"}, {"credit_id": "549598349251416e2b00432b", "department": "Crew", "gender": 0, "id": 1401788, "job": "Special Effects Coordinator", "name": "Steve Ingram"}, {"credit_id": "54959905c3a3686ae3004324", "department": "Visual Effects", "gender": 0, "id": 1401789, "job": "Visual Effects Producer", "name": "Joyce Cox"}, {"credit_id": "5495994b92514132ed002951", "department": "Visual Effects", "gender": 0, "id": 1401790, "job": "Visual Effects Producer", "name": "Jenny Foster"}, {"credit_id": "549599cbc3a3686ae1004613", "department": "Crew", "gender": 0, "id": 1401791, "job": "Visual Effects Editor", "name": "Christopher Marino"}, {"credit_id": "549599f2c3a3686ae100461e", "department": "Crew", "gender": 0, "id": 1401792, "job": "Visual Effects Editor", "name": "Jim Milton"}, {"credit_id": "54959a51c3a3686af3003eb5", "department": "Visual Effects", "gender": 0, "id": 1401793, "job": "Visual Effects Producer", "name": "Cyndi Ochs"}, {"credit_id": "54959a7cc3a36811530026f4", "department": "Crew", "gender": 0, "id": 1401794, "job": "Visual Effects Editor", "name": "Lucas Putnam"}, {"credit_id": "54959b91c3a3680ff5002cb4", "department": "Visual Effects", "gender": 0, "id": 1401795, "job": "Visual Effects Supervisor", "name": "Anthony \'Max\' Ivins"}, {"credit_id": "54959bb69251412c4e002a5f", "department": "Visual Effects", "gender": 0, "id": 1401796, "job": "Visual Effects Supervisor", "name": "John Knoll"}, {"credit_id": "54959cbbc3a3686ae3004391", "department": "Visual Effects", "gender": 2, "id": 1401799, "job": "Visual Effects Supervisor", "name": "Eric Saindon"}, {"credit_id": "54959d06c3a3686ae90043f6", "department": "Visual Effects", "gender": 0, "id": 1401800, "job": "Visual Effects Supervisor", "name": "Wayne Stables"}, {"credit_id": "54959d259251416e1e003f11", "department": "Visual Effects", "gender": 0, "id": 1401801, "job": "Visual Effects Supervisor", "name": "David Stinnett"}, {"credit_id": "54959db49251413af7002975", "department": "Visual Effects", "gender": 0, "id": 1401803, "job": "Visual Effects Supervisor", "name": "Guy Williams"}, {"credit_id": "54959de4c3a3681153002750", "department": "Crew", "gender": 0, "id": 1401804, "job": "Stunt Coordinator", "name": "Stuart Thorp"}, {"credit_id": "54959ef2c3a3680fc60027f2", "department": "Lighting", "gender": 0, "id": 1401805, "job": "Best Boy Electric", "name": "Giles Coburn"}, {"credit_id": "54959f07c3a3680fc60027f9", "department": "Camera", "gender": 2, "id": 1401806, "job": "Still Photographer", "name": "Mark Fellman"}, {"credit_id": "54959f47c3a3681153002774", "department": "Lighting", "gender": 0, "id": 1401807, "job": "Lighting Technician", "name": "Scott Sprague"}, {"credit_id": "54959f8cc3a36831b8001df2", "department": "Visual Effects", "gender": 0, "id": 1401808, "job": "Animation Director", "name": "Jeremy Hollobon"}, {"credit_id": "54959fa0c3a36831b8001dfb", "department": "Visual Effects", "gender": 0, "id": 1401809, "job": "Animation Director", "name": "Orlando Meunier"}, {"credit_id": "54959fb6c3a3686af3003f54", "department": "Visual Effects", "gender": 0, "id": 1401810, "job": "Animation Director", "name": "Taisuke Tanimura"}, {"credit_id": "54959fd2c3a36831b8001e02", "department": "Costume & Make-Up", "gender": 0, "id": 1401812, "job": "Set Costumer", "name": "Lilia Mishel Acevedo"}, {"credit_id": "54959ff9c3a3686ae300440c", "department": "Costume & Make-Up", "gender": 0, "id": 1401814, "job": "Set Costumer", "name": "Alejandro M. Hernandez"}, {"credit_id": "5495a0ddc3a3686ae10046fe", "department": "Editing", "gender": 0, "id": 1401815, "job": "Digital Intermediate", "name": "Marvin Hall"}, {"credit_id": "5495a1f7c3a3686ae3004443", "department": "Production", "gender": 0, "id": 1401816, "job": "Publicist", "name": "Judy Alley"}, {"credit_id": "5592b29fc3a36869d100002f", "department": "Crew", "gender": 0, "id": 1418381, "job": "CG Supervisor", "name": "Mike Perry"}, {"credit_id": "5592b23a9251415df8001081", "department": "Crew", "gender": 0, "id": 1426854, "job": "CG Supervisor", "name": "Andrew Morley"}, {"credit_id": "55491e1192514104c40002d8", "department": "Art", "gender": 0, "id": 1438901, "job": "Conceptual Design", "name": "Seth Engstrom"}, {"credit_id": "5525d5809251417276002b06", "department": "Crew", "gender": 0, "id": 1447362, "job": "Visual Effects Art Director", "name": "Eric Oliver"}, {"credit_id": "554427ca925141586500312a", "department": "Visual Effects", "gender": 0, "id": 1447503, "job": "Modeling", "name": "Matsune Suzuki"}, {"credit_id": "551906889251415aab001c88", "department": "Art", "gender": 0, "id": 1447524, "job": "Art Department Manager", "name": "Paul Tobin"}, {"credit_id": "5592af8492514152cc0010de", "department": 

In [21]:
def fetch(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            l.append(i['name'])
            break
    return l

In [22]:
movies['crew'] = movies['crew'].apply(fetch)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [23]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [24]:
## converting overview column to list
movies['overview']=movies['overview'].apply(lambda x:x.split())
type(movies['overview'][0])

list

In [25]:
len(movies['genres'][0])

4

In [26]:
movies['genres']=movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])
movies.head()
type(movies['genres'][0])

list

In [27]:
movies['keywords']=movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])
movies['cast']=movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])
movies['crew']=movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [28]:
## creating a new column
movies['tags']=movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [29]:
movies['tags'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron']

In [30]:
## now we dont need overview genres keywords cast crew columns
new_df=movies[['movie_id','title','tags']]
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [31]:
## now converting list into string otherwise it will not be alble to conveert to lower case
new_df['tags']=new_df['tags'].apply(lambda x: " ".join(x))
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [32]:
## now converting into lower case
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

## steming is done (it replace wrods with it root word)
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

def stem(text):
    l=[]
    for i in text.split():
        l.append(ps.stem(i))
    return " ".join(l)

new_df['tags']=new_df['tags'].apply(stem)

new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [33]:
## now we have to create a website where user will input movie name there and we will reccomend 5 similar movie to him
## we will find similar movies on the basis of tags
## to find the similarity score between different tags we will use vectorization means we will convert each movie tag into vector
##we will get 5000 vectors of movies
## to find similar movies we will find the closer vector to that movie

## we will use sklearn library to do vectorization
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')
vectors=cv.fit_transform(new_df['tags']).toarray()
vectors
## now we have every movie in vector form

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [34]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\abhishek\anaconda3\lib\site-packages (3.6.5)
Requirement already satisfied: click in c:\users\abhishek\anaconda3\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\users\abhishek\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\abhishek\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\users\abhishek\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\users\abhishek\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [35]:
cv.get_feature_names()
## above list contain words like action,actions which are pointiong to same thing.but because of the diff spelling model will treat them as differnt tag
## we will replace those word with the root word using steming

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '17th',
 '18',
 '18th',
 '18thcenturi',
 '19',
 '1910',
 '1920',
 '1930',
 '1940',
 '1944',
 '1950',
 '1950s',
 '1960',
 '1960s',
 '1970',
 '1970s',
 '1971',
 '1974',
 '1976',
 '1980',
 '1985',
 '1990',
 '1999',
 '19th',
 '19thcenturi',
 '20',
 '200',
 '2003',
 '2009',
 '20th',
 '21st',
 '23',
 '24',
 '25',
 '30',
 '300',
 '3d',
 '40',
 '50',
 '500',
 '60',
 '70',
 '80',
 'aaron',
 'aaroneckhart',
 'abandon',
 'abduct',
 'abigailbreslin',
 'abil',
 'abl',
 'aboard',
 'abov',
 'abus',
 'academ',
 'academi',
 'accept',
 'access',
 'accid',
 'accident',
 'acclaim',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'acquaint',
 'act',
 'action',
 'actionhero',
 'activ',
 'activist',
 'activities',
 'actor',
 'actress',
 'actual',
 'ad',
 'adam',
 'adamsandl',
 'adamshankman',
 'adapt',
 'add',
 'addict',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adopt',
 'ador',
 'adrienbrodi',
 'adult',
 'adultanim',
 'adulteri',
 'adulthood',
 'advanc',
 'adventur',
 'adventure',
 'adventures',
 'advertis',
 'advic',
 'advis',
 'affair',
 'affect',
 'afghanistan',
 'africa',
 'african',
 'africanamerican',
 'aftercreditssting',
 'afterlif',
 'aftermath',
 'ag',
 'age',
 'agediffer',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggress',
 'ago',
 'agre',
 'ahead',
 'aid',
 'aidanquinn',
 'ail',
 'aim',
 'air',
 'airplan',
 'airplanecrash',
 'airport',
 'aka',
 'al',
 'alabama',
 'alan',
 'alaska',
 'albert',
 'alcatraz',
 'alcohol',
 'alecbaldwin',
 'alex',
 'alexkendrick',
 'alfredhitchcock',
 'alfredmolina',
 'ali',
 'alic',
 'alice',
 'alien',
 'alieninvas',
 'alienlife',
 'alienplanet',
 'aliens',
 'alik',
 'aliv',
 'alive',
 'allen',
 'alli',
 'allianc',
 'allow',
 'alon',
 'alongsid',
 'alpacino',
 'alpha',
 'alreadi',
 'alter',
 'altern',
 'alway',
 'alyssa',
 'alzheimer',
 'amanda',
 'amandapeet',
 'amandaseyfri',
 'amateur',
 'amaz',
 'amazon',
 'ambassador',
 'ambit',
 'ambiti',
 'ambul',
 'ambush',
 'america',
 'american',
 'americanabroad',
 'americancivilwar',
 'americanfootbal',
 'americanfootballplay',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amsterdam',
 'amus',
 'amusementpark',
 'amy',
 'amyadam',
 'amysmart',
 'ana',
 'anakin',
 'analyst',
 'anarchiccomedi',
 'ancient',
 'ancientrom',
 'ancientworld',
 'anderson',
 'andi',
 'andiemacdowel',
 'andrew',
 'android',
 'andy',
 'andygarcía',
 'angel',
 'angela',
 'angelabassett',
 'angeles',
 'angelinajoli',
 'anger',
 'angle',
 'angri',
 'ani',
 'anim',
 'animalattack',
 'animalhorror',
 'animals',
 'anjelicahuston',
 'ann',
 'anna',
 'annafari',
 'annakendrick',
 'anne',
 'annehathaway',
 'annemoss',
 'annetteben',
 'anni',
 'annie',
 'anniversari',
 'announc',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'ant',
 'antholog',
 'anthoni',
 'anthonyanderson',
 'anthonyhopkin',
 'anthropomorph',
 'anti',
 'antic',
 'antihero',
 'antiqu',
 'antoinefuqua',
 'antoniobandera',
 'antonyelchin',
 'anyon',
 'anyth',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apocalyps',
 'apocalypse',
 'apocalypt',
 'appar',
 'appear',
 'appl',
 'apple',
 'appoint',
 'appreci',
 'apprentic',
 'approach',
 'april',
 'aquarium',
 'arab',
 'arch',
 'archaeologist',
 'archeolog',
 'archer',
 'architect',
 'arctic',
 'area',
 'aren',
 'arena',
 'argument',
 'aris',
 'aristocrat',
 'arm',
 'armi',
 'armor',
 'armsdeal',
 'army',
 'arnold',
 'arnoldschwarzenegg',
 'arrang',
 'arrangedmarriag',
 'arrest',
 'arriv',
 'arrog',
 'art',
 'arthur',
 'artifact',
 'artifici',
 'artificialintellig',
 'artist',
 'ash',
 'ashley',
 'ashleyjudd',
 'ashtonkutch',
 'asia',
 'asian',
 'asid',
 'ask',
 'aspect',
 'aspir',
 'assassin',
 'assault',
 'assembl',
 'assign',
 'assist',
 'assistant',
 'associ',
 'assum',
 'asteroid',
 'astronaut',
 'asylum',
 'atheist',
 'athlet',
 'atom',
 'atomicbomb',
 'attack',
 'attacks',
 'attempt',
 'attend',
 'attent',
 'attic',
 'attitud',
 'attorney',
 'attract',
 'auction',
 'audienc',
 'audit',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'autism',
 'auto',
 'automobilerac',
 'aveng',
 'averag',
 'avoid',
 'await',
 'awak',
 'awaken',
 'awar',
 'award',
 'away',
 'awkward',
 'awri',
 'awry',
 'ax',
 'babe',
 'babi',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'backpack',
 'bad',
 'bag',
 'bahama',
 'bail',
 'balanc',
 'ball',
 'ballet',
 'balloon',
 'baltimor',
 'ban',
 'band',
 'bandit',
 'bangkok',
 'banish',
 'bank',
 'banker',
 'bankrobb',
 'bankrobberi',
 'bar',
 'barbrastreisand',
 'bare',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barri',
 'barrylevinson',
 'barrysonnenfeld',
 'bas',
 'base',
 'basebal',
 'basedoncomicbook',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonstagemus',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basketbal',
 'basketball',
 'bat',
 'batman',
 'battl',
 'battle',
 'battlefield',
 'bay',
 'beach',
 'beam',
 'bear',
 'beard',
 'beast',
 'beat',
 'beauti',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becam',
 'becaus',
 'becki',
 'becom',
 'becominganadult',
 'bed',
 'bedroom',
 'bee',
 'beer',
 'befor',
 'befriend',
 'began',
 'begin',
 'begins',
 'behavior',
 'belief',
 'believ',
 'bell',
 'bella',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'bend',
 'beneath',
 'benefit',
 'benfost',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'bennett',
 'benstil',
 'bent',
 'berlin',
 'best',
 'bestfriend',
 'bestfriendsinlov',
 'bet',
 'beth',
 'betray',
 'bettemidl',
 'better',
 'betti',
 'beverli',
 'bibl',
 'bid',
 'big',
 'bigger',
 'biggest',
 'bike',
 'biker',
 'bikini',
 'billhad',
 'billi',
 'billionair',
 'billmurray',
 'billnighi',
 'billpaxton',
 'billpullman',
 'billybobthornton',
 'billycrudup',
 'billycryst',
 'biographi',
 'biolog',
 'bird',
 'birth',
 'birthday',
 'bisexu',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bizarr',
 'black',
 'blackmag',
 'blackmail',
 'blackpeopl',
 'blacksmith',
 'blade',
 'blame',
 'blend',
 'blind',
 'bliss',
 'blizzard',
 'block',
 'blond',
 'blood',
 'bloodi',
 'bloodsplatt',
 'bloodthirsti',
 'blow',
 'blue',
 'board',
 'boardingschool',
 'boat',
 'bob',
 'bobbi',
 'bobbyfarrelli',
 'bobhoskin',
 'bodi',
 'body',
 'bodyguard',
 'bold',
 'bollywood',
 'bomb',
 'bond',
 'bone',
 'book',
 'border',
 'bore',
 'boredom',
 'born',
 'boss',
 'boston',
 'botch',
 'bound',
 'boundari',
 'bounti',
 'bountyhunt',
 'bout',
 'box',
 'boxer',
 'boy',
 'boyfriend',
 'boys',
 'bradleycoop',
 'bradpitt',
 'brain',
 'brainwash',
 'brand',
 'brandon',
 'brave',
 'braveri',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breast',
 'breath',
 'breed',
 'brendanfras',
 'brendangleeson',
 'brent',
 'brettratn',
 'brian',
 'briandepalma',
 'bride',
 'bridesmaid',
 'bridg',
 'brief',
 'brielarson',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'britishsecretservic',
 'brittanymurphi',
 'broadcast',
 'broadway',
 'broke',
 'broken',
 'broker',
 'bronx',
 'brook',
 'brooklyn',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucegreenwood',
 'brucewilli',
 'brutal',
 'bryansing',
 'bu',
 'buck',
 'bud',
 'buddi',
 'buddy',
 'buddycomedi',
 'buddycop',
 'budget',
 'build',
 'building',
 'built',
 'bullet',
 'bulli',
 'bumbl',
 'bunch',
 'bunker',
 'bunni',
 'burglar',
 'buri',
 'burn',
 'bush',
 'busi',
 'business',
 'businessman',
 'bust',
 'butcher',
 'butler',
 'butt',
 'button',
 'buy',
 'buzz',
 'cabin',
 'caesar',
 'cage',
 'cairo',
 'cal',
 'california',
 'calvin',
 'camcord',
 'came',
 'camera',
 'cameraman',
 'camerondiaz',
 'camp',
 'campaign',
 'campbell',
 'campu',
 'canada',
 'canadian',
 'cancer',
 'candi',
 'candid',
 'canin',
 'cannib',
 'canuxploit',
 'capabl',
 'caper',
 'capit',
 'capt',
 'captain',
 'captiv',
 'captur',
 'capture',
 'car',
 'caraccid',
 'carchas',
 'carcrash',
 'card',
 'care',
 'career',
 'carefre',
 'caretak',
 'careymulligan',
 'caribbean',
 'carjourney',
 'carl',
 'carlagugino',
 'carmen',
 'carol',
 'carolina',
 'carrac',
 'carri',
 'carrie',
 'cartel',
 'carter',
 'cartoon',
 'caryelw',
 'case',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castl',
 'cat',
 'cataclysm',
 'catastroph',
 'catch',
 'cateblanchett',
 'catherinedeneuv',
 'catherinekeen',
 'catherinezeta',
 'cathol',
 'catholic',
 'cattl',
 'caught',
 'caus',
 'cavalri',
 'cave',
 'cavemen',
 'celebr',
 'celebration',
 'cell',
 'cellphon',
 'cemeteri',
 'center',
 'centr',
 'central',
 'centuri',
 'centuries',
 'century',
 'ceo',
 'certain',
 'chad',
 'chain',
 'chainsaw',
 'challeng',
 'chamber',
 'champion',
 'championship',
 'chanc',
 'chance',
 'chang',
 'change',
 'changed',
 'changes',
 'channingtatum',
 'chao',
 'chaos',
 'chaotic',
 'chapter',
 'charact',
 'character',
 'characters',
 'charg',
 'charismat',
 'charl',
 'charli',
 'charlie',
 'charliesheen',
 'charlizetheron',
 'charm',
 'chart',
 'chase',
 'chauffeur',
 'chazzpalminteri',
 'cheat',
 'check',
 'cheerlead',
 'chef',
 'chemic',
 'cher',
 'chevychas',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabus',
 'childhero',
 'childhood',
 'childprodigi',
 'children',
 'chill',
 'chimp',
 'china',
 'chines',
 'chip',
 'chipmunk',
 'chiwetelejiofor',
 'chloe',
 'chloëgracemoretz',
 'chloësevigni',
 'chocol',
 'choic',
 'choice',
 'choos',
 'chosen',
 'chowyun',
 'chri',
 'chriscolumbu',
 'chriscoop',
 'chrisevan',
 'chrishemsworth',
 'chrisklein',
 'chrispin',
 'chrisrock',
 'christ',
 'christian',
 'christianbal',
 'christianslat',
 'christin',
 'christinaappleg',
 'christinaricci',
 'christma',
 'christmas',
 'christmasparti',
 'christmastre',
 'christoph',
 'christopherlambert',
 'christopherlloyd',
 'christophernolan',
 'christopherplumm',
 'christopherwalken',
 'christophwaltz',
 'chrisweitz',
 'chronicl',
 'chuck',
 'church',
 'cia',
 'ciaránhind',
 'cigarettesmok',
 'cillianmurphi',
 'cinema',
 'circl',
 'circu',
 'circuit',
 'circumst',
 'citi',
 'citizen',
 'city',
 'civil',
 'civilian',
 'civilwar',
 'claim',
 'clair',
 'clairedan',
 'claireforlani',
 'clan',
 'clark',
 'clash',
 'class',
 'classdiffer',
 'classic',
 'classmat',
 'classroom',
 'claudevandamm',
 'clay',
 'clean',
 'clear',
 'clerk',
 'clever',
 'client',
 'clients',
 'cliff',
 'climat',
 'climb',
 'clinteastwood',
 'cliveowen',
 'clock',
 'clone',
 'close',
 'closer',
 'cloud',
 'clown',
 'club',
 'clue',
 'clueless',
 'clutch',
 'coach',
 'coast',
 'cocain',
 'code',
 'coffin',
 'cohen',
 'col',
 'cold',
 'coldwar',
 'cole',
 'colin',
 'colinfarrel',
 'colinfirth',
 'collaps',
 'colleagu',
 'collect',
 'collector',
 'colleg',
 'college',
 'collid',
 'collis',
 'colombia',
 'colonel',
 'coloni',
 'color',
 'colorado',
 'coma',
 'combat',
 'combin',
 'come',
 'comeback',
 'comed',
 'comedi',
 'comedian',
 'comedy',
 'comet',
 'comfort',
 'comic',
 'coming',
 'comingofag',
 'comingout',
 'command',
 'commando',
 'commerci',
 'commiss',
 'commit',
 'common',
 'commun',
 'communist',
 'community',
 'compani',
 'companion',
 'company',
 'compet',
 'competit',
 'competition',
 'complet',
 'complex',
 'complic',
 'compos',
 'compuls',
 'comput',
 'computerviru',
 'conan',
 'concern',
 'concert',
 'concoct',
 'condit',
 'condition',
 'conduct',
 'confeder',
 'confess',
 'confid',
 'confin',
 'conflict',
 'confront',
 'confus',
 'congress',
 'conman',
 'connect',
 'connecticut',
 'connel',
 'connor',
 'conquer',
 'consequ',
 'consequences',
 'conserv',
 'consid',
 'conspir',
 'conspiraci',
 'conspiracy',
 'constant',
 'constantli',
 'construct',
 'consum',
 'contact',
 'contain',
 'contemporari',
 'contend',
 'content',
 'contest',
 'continu',
 'contract',
 'contractor',
 'control',
 'controversi',
 'convent',
 'converg',
 'convers',
 'convict',
 'convinc',
 'cook',
 ...]

In [36]:
vectors.shape

(4806, 5000)

In [42]:
## now we are calculating the cosine distance for each vectors we will used them as similarity between the movies
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vectors)
print(similarity)
similarity.shape
new_df

[[1.         0.08346223 0.0860309  ... 0.04499213 0.         0.        ]
 [0.08346223 1.         0.06063391 ... 0.02378257 0.         0.02615329]
 [0.0860309  0.06063391 1.         ... 0.02451452 0.         0.        ]
 ...
 [0.04499213 0.02378257 0.02451452 ... 1.         0.03962144 0.04229549]
 [0.         0.         0.         ... 0.03962144 1.         0.08714204]
 [0.         0.02615329 0.         ... 0.04229549 0.08714204 1.        ]]

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4805,72766,Newlyweds,a newlyw couple' honeymoon is upend by the arr...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4807,126186,Shanghai Calling,when ambiti new york attorney sam is sent to s...
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [38]:
## now we have create aa function if will input movie to a function it will reccommend us 5 similar movies

def recommend(movie):
    index=new_df[new_df['title']==movie].index[0]
    distances=sorted(list(enumerate(similarity[index])),key=lambda x:x[1],reverse=True)
    for i in distances[1:6]:
        print(new_df.iloc[i[0]]['title'])

In [39]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [40]:
import pickle
pickle.dump(new_df,open('new_df.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [41]:
sorted(list(enumerate(similarity[0])),key=lambda x:x[1])

[(34, 0.0),
 (42, 0.0),
 (120, 0.0),
 (128, 0.0),
 (135, 0.0),
 (177, 0.0),
 (194, 0.0),
 (201, 0.0),
 (214, 0.0),
 (231, 0.0),
 (247, 0.0),
 (250, 0.0),
 (255, 0.0),
 (264, 0.0),
 (280, 0.0),
 (298, 0.0),
 (314, 0.0),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (321, 0.0),
 (338, 0.0),
 (346, 0.0),
 (347, 0.0),
 (351, 0.0),
 (357, 0.0),
 (367, 0.0),
 (377, 0.0),
 (378, 0.0),
 (382, 0.0),
 (385, 0.0),
 (388, 0.0),
 (393, 0.0),
 (398, 0.0),
 (409, 0.0),
 (429, 0.0),
 (434, 0.0),
 (436, 0.0),
 (444, 0.0),
 (464, 0.0),
 (465, 0.0),
 (474, 0.0),
 (477, 0.0),
 (481, 0.0),
 (489, 0.0),
 (494, 0.0),
 (496, 0.0),
 (497, 0.0),
 (499, 0.0),
 (504, 0.0),
 (517, 0.0),
 (519, 0.0),
 (520, 0.0),
 (524, 0.0),
 (538, 0.0),
 (548, 0.0),
 (552, 0.0),
 (554, 0.0),
 (558, 0.0),
 (593, 0.0),
 (606, 0.0),
 (608, 0.0),
 (619, 0.0),
 (620, 0.0),
 (623, 0.0),
 (628, 0.0),
 (639, 0.0),
 (641, 0.0),
 (642, 0.0),
 (649, 0.0),
 (651, 0.0),
 (656, 0.0),
 (662, 0.0),
 (663, 0.0),
 (667, 0.0),
 (679, 0.0),
 (684, 0.0),
 (689, 0.0),
 (697, 0.0),
 (707, 0.0),
 (712, 0.0),
 (714, 0.0),
 (717, 0.0),
 (719, 0.0),
 (722, 0.0),
 (725, 0.0),
 (726, 0.0),
 (738, 0.0),
 (749, 0.0),
 (759, 0.0),
 (760, 0.0),
 (763, 0.0),
 (771, 0.0),
 (772, 0.0),
 (779, 0.0),
 (780, 0.0),
 (789, 0.0),
 (796, 0.0),
 (798, 0.0),
 (801, 0.0),
 (802, 0.0),
 (819, 0.0),
 (824, 0.0),
 (825, 0.0),
 (829, 0.0),
 (839, 0.0),
 (842, 0.0),
 (845, 0.0),
 (849, 0.0),
 (857, 0.0),
 (865, 0.0),
 (867, 0.0),
 (872, 0.0),
 (876, 0.0),
 (877, 0.0),
 (879, 0.0),
 (881, 0.0),
 (884, 0.0),
 (890, 0.0),
 (892, 0.0),
 (895, 0.0),
 (896, 0.0),
 (905, 0.0),
 (906, 0.0),
 (909, 0.0),
 (913, 0.0),
 (918, 0.0),
 (921, 0.0),
 (923, 0.0),
 (924, 0.0),
 (926, 0.0),
 (927, 0.0),
 (928, 0.0),
 (936, 0.0),
 (940, 0.0),
 (943, 0.0),
 (944, 0.0),
 (947, 0.0),
 (948, 0.0),
 (949, 0.0),
 (954, 0.0),
 (965, 0.0),
 (966, 0.0),
 (968, 0.0),
 (977, 0.0),
 (978, 0.0),
 (983, 0.0),
 (986, 0.0),
 (990, 0.0),
 (994, 0.0),
 (999, 0.0),
 (1000, 0.0),
 (1001, 0.0),
 (1012, 0.0),
 (1013, 0.0),
 (1014, 0.0),
 (1022, 0.0),
 (1025, 0.0),
 (1026, 0.0),
 (1041, 0.0),
 (1042, 0.0),
 (1049, 0.0),
 (1050, 0.0),
 (1057, 0.0),
 (1058, 0.0),
 (1060, 0.0),
 (1066, 0.0),
 (1069, 0.0),
 (1072, 0.0),
 (1074, 0.0),
 (1078, 0.0),
 (1090, 0.0),
 (1091, 0.0),
 (1095, 0.0),
 (1105, 0.0),
 (1108, 0.0),
 (1115, 0.0),
 (1116, 0.0),
 (1124, 0.0),
 (1129, 0.0),
 (1132, 0.0),
 (1133, 0.0),
 (1138, 0.0),
 (1148, 0.0),
 (1150, 0.0),
 (1151, 0.0),
 (1152, 0.0),
 (1154, 0.0),
 (1159, 0.0),
 (1160, 0.0),
 (1162, 0.0),
 (1163, 0.0),
 (1167, 0.0),
 (1173, 0.0),
 (1174, 0.0),
 (1179, 0.0),
 (1182, 0.0),
 (1184, 0.0),
 (1187, 0.0),
 (1189, 0.0),
 (1190, 0.0),
 (1192, 0.0),
 (1197, 0.0),
 (1200, 0.0),
 (1206, 0.0),
 (1208, 0.0),
 (1211, 0.0),
 (1212, 0.0),
 (1213, 0.0),
 (1217, 0.0),
 (1221, 0.0),
 (1222, 0.0),
 (1224, 0.0),
 (1225, 0.0),
 (1226, 0.0),
 (1232, 0.0),
 (1234, 0.0),
 (1236, 0.0),
 (1245, 0.0),
 (1246, 0.0),
 (1250, 0.0),
 (1253, 0.0),
 (1255, 0.0),
 (1264, 0.0),
 (1265, 0.0),
 (1267, 0.0),
 (1268, 0.0),
 (1271, 0.0),
 (1279, 0.0),
 (1283, 0.0),
 (1286, 0.0),
 (1295, 0.0),
 (1296, 0.0),
 (1300, 0.0),
 (1310, 0.0),
 (1311, 0.0),
 (1316, 0.0),
 (1317, 0.0),
 (1318, 0.0),
 (1319, 0.0),
 (1326, 0.0),
 (1330, 0.0),
 (1331, 0.0),
 (1333, 0.0),
 (1336, 0.0),
 (1339, 0.0),
 (1341, 0.0),
 (1343, 0.0),
 (1349, 0.0),
 (1354, 0.0),
 (1358, 0.0),
 (1359, 0.0),
 (1366, 0.0),
 (1368, 0.0),
 (1370, 0.0),
 (1374, 0.0),
 (1375, 0.0),
 (1377, 0.0),
 (1380, 0.0),
 (1384, 0.0),
 (1387, 0.0),
 (1392, 0.0),
 (1393, 0.0),
 (1394, 0.0),
 (1395, 0.0),
 (1397, 0.0),
 (1398, 0.0),
 (1400, 0.0),
 (1402, 0.0),
 (1409, 0.0),
 (1411, 0.0),
 (1415, 0.0),
 (1416, 0.0),
 (1419, 0.0),
 (1424, 0.0),
 (1430, 0.0),
 (1433, 0.0),
 (1435, 0.0),
 (1442, 0.0),
 (1461, 0.0),
 (1472, 0.0),
 (1482, 0.0),
 (1484, 0.0),
 (1493, 0.0),
 (1495, 0.0),
 (1499, 0.0),
 (1507, 0.0),
 (1517, 0.0),
 (1518, 0.0),
 (1522, 0.0),
 (1526, 0.0),
 (1528, 0.0),
 (1533, 0.0),
 (1536, 0.0),
 (1539, 0.0),
 (1540, 0.0),
 (1542, 0.0),
 (1543, 0.0),
 (1547, 0.0),
 (1550, 0.0),
 (1551, 0.0),
 (1558, 0.0),
 (1559, 0.0),
 (1562, 0.0),
 (1563, 0.0),
 (1564, 0.0),
 (1572, 0.0),
 (1580, 0.0),
 (1587, 0.0),
 (1591, 0.0),
 (1595, 0.0),
 (1599, 0.0),
 (1601, 0.0),
 (1604, 0.0),
 (1610, 0.0),
 (1611, 0.0),
 (1615, 0.0),
 (1619, 0.0),
 (1620, 0.0),
 (1624, 0.0),
 (1626, 0.0),
 (1627, 0.0),
 (1628, 0.0),
 (1633, 0.0),
 (1636, 0.0),
 (1637, 0.0),
 (1640, 0.0),
 (1645, 0.0),
 (1647, 0.0),
 (1654, 0.0),
 (1657, 0.0),
 (1662, 0.0),
 (1663, 0.0),
 (1665, 0.0),
 (1666, 0.0),
 (1669, 0.0),
 (1672, 0.0),
 (1679, 0.0),
 (1680, 0.0),
 (1682, 0.0),
 (1683, 0.0),
 (1687, 0.0),
 (1691, 0.0),
 (1696, 0.0),
 (1699, 0.0),
 (1702, 0.0),
 (1709, 0.0),
 (1710, 0.0),
 (1711, 0.0),
 (1712, 0.0),
 (1714, 0.0),
 (1716, 0.0),
 (1717, 0.0),
 (1718, 0.0),
 (1722, 0.0),
 (1728, 0.0),
 (1734, 0.0),
 (1736, 0.0),
 (1738, 0.0),
 (1742, 0.0),
 (1744, 0.0),
 (1752, 0.0),
 (1755, 0.0),
 (1758, 0.0),
 (1761, 0.0),
 (1764, 0.0),
 (1766, 0.0),
 (1773, 0.0),
 (1776, 0.0),
 (1778, 0.0),
 (1779, 0.0),
 (1780, 0.0),
 (1781, 0.0),
 (1784, 0.0),
 (1787, 0.0),
 (1791, 0.0),
 (1793, 0.0),
 (1794, 0.0),
 (1795, 0.0),
 (1797, 0.0),
 (1806, 0.0),
 (1807, 0.0),
 (1818, 0.0),
 (1820, 0.0),
 (1824, 0.0),
 (1825, 0.0),
 (1826, 0.0),
 (1829, 0.0),
 (1830, 0.0),
 (1834, 0.0),
 (1835, 0.0),
 (1839, 0.0),
 (1840, 0.0),
 (1844, 0.0),
 (1845, 0.0),
 (1851, 0.0),
 (1852, 0.0),
 (1853, 0.0),
 (1858, 0.0),
 (1865, 0.0),
 (1869, 0.0),
 (1871, 0.0),
 (1875, 0.0),
 (1877, 0.0),
 (1879, 0.0),
 (1880, 0.0),
 (1882, 0.0),
 (1887, 0.0),
 (1889, 0.0),
 (1890, 0.0),
 (1891, 0.0),
 (1892, 0.0),
 (1893, 0.0),
 (1894, 0.0),
 (1895, 0.0),
 (1904, 0.0),
 (1905, 0.0),
 (1907, 0.0),
 (1909, 0.0),
 (1917, 0.0),
 (1919, 0.0),
 (1921, 0.0),
 (1923, 0.0),
 (1930, 0.0),
 (1931, 0.0),
 (1932, 0.0),
 (1935, 0.0),
 (1941, 0.0),
 (1946, 0.0),
 (1947, 0.0),
 (1954, 0.0),
 (1955, 0.0),
 (1966, 0.0),
 (1967, 0.0),
 (1972, 0.0),
 (1974, 0.0),
 (1976, 0.0),
 (1977, 0.0),
 (1978, 0.0),
 (1985, 0.0),
 (1988, 0.0),
 (1989, 0.0),
 (1994, 0.0),
 (1995, 0.0),
 (1998, 0.0),
 (1999, 0.0),
 (2000, 0.0),
 (2004, 0.0),
 (2010, 0.0),
 (2011, 0.0),
 (2016, 0.0),
 (2020, 0.0),
 (2026, 0.0),
 (2027, 0.0),
 (2031, 0.0),
 (2034, 0.0),
 (2036, 0.0),
 (2037, 0.0),
 (2039, 0.0),
 (2040, 0.0),
 (2041, 0.0),
 (2043, 0.0),
 (2045, 0.0),
 (2047, 0.0),
 (2048, 0.0),
 (2058, 0.0),
 (2062, 0.0),
 (2064, 0.0),
 (2068, 0.0),
 (2069, 0.0),
 (2073, 0.0),
 (2074, 0.0),
 (2078, 0.0),
 (2079, 0.0),
 (2084, 0.0),
 (2086, 0.0),
 (2088, 0.0),
 (2089, 0.0),
 (2094, 0.0),
 (2096, 0.0),
 (2097, 0.0),
 (2098, 0.0),
 (2102, 0.0),
 (2104, 0.0),
 (2105, 0.0),
 (2107, 0.0),
 (2108, 0.0),
 (2111, 0.0),
 (2116, 0.0),
 (2118, 0.0),
 (2119, 0.0),
 (2121, 0.0),
 (2123, 0.0),
 (2124, 0.0),
 (2125, 0.0),
 (2126, 0.0),
 (2129, 0.0),
 (2131, 0.0),
 (2137, 0.0),
 (2139, 0.0),
 (2140, 0.0),
 (2141, 0.0),
 (2143, 0.0),
 (2145, 0.0),
 (2147, 0.0),
 (2151, 0.0),
 (2156, 0.0),
 (2166, 0.0),
 (2168, 0.0),
 (2170, 0.0),
 (2171, 0.0),
 (2174, 0.0),
 (2176, 0.0),
 (2182, 0.0),
 (2183, 0.0),
 (2188, 0.0),
 (2192, 0.0),
 (2193, 0.0),
 (2197, 0.0),
 (2198, 0.0),
 (2210, 0.0),
 (2214, 0.0),
 (2217, 0.0),
 (2221, 0.0),
 (2222, 0.0),
 (2225, 0.0),
 (2237, 0.0),
 (2238, 0.0),
 (2239, 0.0),
 (2240, 0.0),
 (2242, 0.0),
 (2244, 0.0),
 (2245, 0.0),
 (2246, 0.0),
 (2248, 0.0),
 (2249, 0.0),
 (2252, 0.0),
 (2255, 0.0),
 (2257, 0.0),
 (2258, 0.0),
 (2260, 0.0),
 (2262, 0.0),
 (2265, 0.0),
 (2273, 0.0),
 (2275, 0.0),
 (2277, 0.0),
 (2278, 0.0),
 (2279, 0.0),
 (2280, 0.0),
 (2281, 0.0),
 (2285, 0.0),
 (2286, 0.0),
 (2287, 0.0),
 (2288, 0.0),
 (2289, 0.0),
 (2290, 0.0),
 (2292, 0.0),
 (2293, 0.0),
 (2296, 0.0),
 (2303, 0.0),
 (2306, 0.0),
 (2310, 0.0),
 (2311, 0.0),
 (2312, 0.0),
 (2313, 0.0),
 (2314, 0.0),
 (2318, 0.0),
 (2321, 0.0),
 (2322, 0.0),
 (2324, 0.0),
 (2329, 0.0),
 (2332, 0.0),
 (2334, 0.0),
 (2335, 0.0),
 (2336, 0.0),
 (2338, 0.0),
 (2345, 0.0),
 (2350, 0.0),
 (2357, 0.0),
 (2359, 0.0),
 (2360, 0.0),
 (2379, 0.0),
 (2383, 0.0),
 (2384, 0.0),
 (2385, 0.0),
 (2389, 0.0),
 (2390, 0.0),
 (2391, 0.0),
 (2398, 0.0),
 (2399, 0.0),
 (2402, 0.0),
 (2403, 0.0),
 (2405, 0.0),
 (2407, 0.0),
 (2411, 0.0),
 (2415, 0.0),
 (2421, 0.0),
 (2424, 0.0),
 (2425, 0.0),
 (2426, 0.0),
 (2427, 0.0),
 (2431, 0.0),
 (2434, 0.0),
 (2436, 0.0),
 (2438, 0.0),
 (2442, 0.0),
 (2446, 0.0),
 (2451, 0.0),
 (2452, 0.0),
 (2454, 0.0),
 (2458, 0.0),
 (2459, 0.0),
 (2460, 0.0),
 (2462, 0.0),
 (2466, 0.0),
 (2468, 0.0),
 (2470, 0.0),
 (2482, 0.0),
 (2483, 0.0),
 (2484, 0.0),
 (2485, 0.0),
 (2489, 0.0),
 (2491, 0.0),
 (2493, 0.0),
 (2494, 0.0),
 (2497, 0.0),
 (2501, 0.0),
 (2503, 0.0),
 (2507, 0.0),
 (2508, 0.0),
 (2509, 0.0),
 (2510, 0.0),
 (2511, 0.0),
 (2513, 0.0),
 (2517, 0.0),
 (2518, 0.0),
 (2522, 0.0),
 (2523, 0.0),
 (2526, 0.0),
 (2528, 0.0),
 (2530, 0.0),
 (2531, 0.0),
 (2532, 0.0),
 (2534, 0.0),
 (2537, 0.0),
 (2540, 0.0),
 (2542, 0.0),
 (2544, 0.0),
 (2545, 0.0),
 (2548, 0.0),
 (2550, 0.0),
 (2554, 0.0),
 (2557, 0.0),
 (2559, 0.0),
 (2561, 0.0),
 (2563, 0.0),
 (2568, 0.0),
 (2569, 0.0),
 (2572, 0.0),
 (2576, 0.0),
 (2578, 0.0),
 (2580, 0.0),
 (2590, 0.0),
 (2591, 0.0),
 (2594, 0.0),
 (2595, 0.0),
 (2597, 0.0),
 (2599, 0.0),
 (2601, 0.0),
 (2602, 0.0),
 (2607, 0.0),
 (2613, 0.0),
 (2614, 0.0),
 (2616, 0.0),
 (2618, 0.0),
 (2624, 0.0),
 (2625, 0.0),
 (2626, 0.0),
 (2628, 0.0),
 (2630, 0.0),
 (2633, 0.0),
 (2637, 0.0),
 (2641, 0.0),
 (2643, 0.0),
 (2646, 0.0),
 (2649, 0.0),
 (2654, 0.0),
 (2655, 0.0),
 (2665, 0.0),
 (2667, 0.0),
 (2668, 0.0),
 (2670, 0.0),
 (2675, 0.0),
 (2677, 0.0),
 (2679, 0.0),
 (2681, 0.0),
 (2685, 0.0),
 (2691, 0.0),
 (2694, 0.0),
 (2695, 0.0),
 (2696, 0.0),
 (2697, 0.0),
 (2699, 0.0),
 (2702, 0.0),
 (2704, 0.0),
 (2705, 0.0),
 (2707, 0.0),
 (2716, 0.0),
 (2719, 0.0),
 (2720, 0.0),
 (2728, 0.0),
 (2732, 0.0),
 (2736, 0.0),
 (2738, 0.0),
 (2739, 0.0),
 (2742, 0.0),
 (2745, 0.0),
 (2746, 0.0),
 (2747, 0.0),
 (2749, 0.0),
 (2750, 0.0),
 (2753, 0.0),
 (2754, 0.0),
 (2755, 0.0),
 (2765, 0.0),
 (2766, 0.0),
 (2769, 0.0),
 (2770, 0.0),
 (2773, 0.0),
 (2778, 0.0),
 (2779, 0.0),
 (2785, 0.0),
 (2788, 0.0),
 (2798, 0.0),
 (2800, 0.0),
 (2803, 0.0),
 (2806, 0.0),
 (2809, 0.0),
 (2816, 0.0),
 (2819, 0.0),
 (2821, 0.0),
 (2833, 0.0),
 (2834, 0.0),
 (2837, 0.0),
 (2838, 0.0),
 (2839, 0.0),
 (2844, 0.0),
 (2845, 0.0),
 (2847, 0.0),
 (2848, 0.0),
 (2849, 0.0),
 (2855, 0.0),
 (2857, 0.0),
 (2862, 0.0),
 (2866, 0.0),
 (2869, 0.0),
 (2871, 0.0),
 (2874, 0.0),
 (2875, 0.0),
 (2876, 0.0),
 (2878, 0.0),
 (2885, 0.0),
 (2886, 0.0),
 (2893, 0.0),
 (2895, 0.0),
 (2898, 0.0),
 (2899, 0.0),
 (2900, 0.0),
 (2905, 0.0),
 (2906, 0.0),
 (2908, 0.0),
 (2909, 0.0),
 (2911, 0.0),
 (2917, 0.0),
 (2921, 0.0),
 (2923, 0.0),
 (2926, 0.0),
 (2928, 0.0),
 (2930, 0.0),
 (2932, 0.0),
 (2933, 0.0),
 (2936, 0.0),
 (2941, 0.0),
 (2942, 0.0),
 (2945, 0.0),
 (2946, 0.0),
 (2951, 0.0),
 (2952, 0.0),
 (2958, 0.0),
 (2961, 0.0),
 (2962, 0.0),
 (2965, 0.0),
 (2969, 0.0),
 (2974, 0.0),
 (2977, 0.0),
 (2979, 0.0),
 (2980, 0.0),
 (2983, 0.0),
 (2986, 0.0),
 (2989, 0.0),
 (2991, 0.0),
 (2993, 0.0),
 (2996, 0.0),
 (2997, 0.0),
 (3001, 0.0),
 (3002, 0.0),
 (3003, 0.0),
 (3004, 0.0),
 (3009, 0.0),
 (3016, 0.0),
 (3019, 0.0),
 (3021, 0.0),
 (3023, 0.0),
 (3026, 0.0),
 (3029, 0.0),
 (3035, 0.0),
 (3036, 0.0),
 (3038, 0.0),
 (3040, 0.0),
 (3041, 0.0),
 (3043, 0.0),
 (3046, 0.0),
 (3049, 0.0),
 (3051, 0.0),
 (3052, 0.0),
 (3054, 0.0),
 (3058, 0.0),
 (3062, 0.0),
 (3065, 0.0),
 (3067, 0.0),
 (3073, 0.0),
 (3079, 0.0),
 (3085, 0.0),
 (3087, 0.0),
 (3088, 0.0),
 (3089, 0.0),
 (3092, 0.0),
 (3094, 0.0),
 (3095, 0.0),
 (3096, 0.0),
 (3097, 0.0),
 (3104, 0.0),
 (3105, 0.0),
 (3106, 0.0),
 (3112, 0.0),
 (3113, 0.0),
 (3122, 0.0),
 (3123, 0.0),
 (3124, 0.0),
 (3125, 0.0),
 (3127, 0.0),
 (3128, 0.0),
 (3139, 0.0),
 (3141, 0.0),
 (3143, 0.0),
 (3145, 0.0),
 (3150, 0.0),
 (3156, 0.0),
 (3160, 0.0),
 (3163, 0.0),
 (3170, 0.0),
 (3171, 0.0),
 (3172, 0.0),
 (3173, 0.0),
 (3177, 0.0),
 (3178, 0.0),
 (3179, 0.0),
 (3185, 0.0),
 (3186, 0.0),
 (3191, 0.0),
 (3194, 0.0),
 (3196, 0.0),
 (3197, 0.0),
 (3198, 0.0),
 (3200, 0.0),
 (3203, 0.0),
 (3209, 0.0),
 (3211, 0.0),
 (3214, 0.0),
 (3221, 0.0),
 (3224, 0.0),
 (3231, 0.0),
 (3239, 0.0),
 (3242, 0.0),
 (3243, 0.0),
 (3245, 0.0),
 (3246, 0.0),
 (3249, 0.0),
 (3250, 0.0),
 (3252, 0.0),
 (3258, 0.0),
 (3259, 0.0),
 (3261, 0.0),
 (3265, 0.0),
 (3267, 0.0),
 (3269, 0.0),
 (3272, 0.0),
 (3276, 0.0),
 (3279, 0.0),
 (3280, 0.0),
 (3281, 0.0),
 (3282, 0.0),
 (3290, 0.0),
 (3295, 0.0),
 (3296, 0.0),
 (3302, 0.0),
 (3307, 0.0),
 (3311, 0.0),
 (3312, 0.0),
 (3315, 0.0),
 (3319, 0.0),
 (3324, 0.0),
 (3325, 0.0),
 (3326, 0.0),
 (3328, 0.0),
 (3329, 0.0),
 (3335, 0.0),
 (3337, 0.0),
 (3341, 0.0),
 (3345, 0.0),
 (3346, 0.0),
 (3350, 0.0),
 (3351, 0.0),
 (3352, 0.0),
 (3359, 0.0),
 (3361, 0.0),
 (3364, 0.0),
 (3366, 0.0),
 (3367, 0.0),
 (3375, 0.0),
 (3381, 0.0),
 (3382, 0.0),
 (3384, 0.0),
 (3385, 0.0),
 (3387, 0.0),
 (3391, 0.0),
 (3394, 0.0),
 (3395, 0.0),
 (3404, 0.0),
 (3405, 0.0),
 (3411, 0.0),
 (3413, 0.0),
 (3415, 0.0),
 (3417, 0.0),
 (3418, 0.0),
 (3422, 0.0),
 (3424, 0.0),
 (3425, 0.0),
 (3427, 0.0),
 (3429, 0.0),
 (3432, 0.0),
 (3433, 0.0),
 (3434, 0.0),
 (3435, 0.0),
 (3436, 0.0),
 (3437, 0.0),
 (3439, 0.0),
 (3442, 0.0),
 (3445, 0.0),
 (3446, 0.0),
 (3450, 0.0),
 (3453, 0.0),
 (3454, 0.0),
 (3458, 0.0),
 (3459, 0.0),
 (3463, 0.0),
 (3465, 0.0),
 (3466, 0.0),
 (3468, 0.0),
 (3471, 0.0),
 (3473, 0.0),
 (3474, 0.0),
 (3479, 0.0),
 (3480, 0.0),
 (3482, 0.0),
 (3490, 0.0),
 (3491, 0.0),
 (3492, 0.0),
 (3495, 0.0),
 (3499, 0.0),
 (3500, 0.0),
 (3501, 0.0),
 (3502, 0.0),
 (3506, 0.0),
 (3510, 0.0),
 (3517, 0.0),
 (3518, 0.0),
 (3521, 0.0),
 (3523, 0.0),
 (3525, 0.0),
 (3529, 0.0),
 (3530, 0.0),
 (3531, 0.0),
 (3533, 0.0),
 (3535, 0.0),
 (3536, 0.0),
 (3539, 0.0),
 (3546, 0.0),
 (3547, 0.0),
 (3550, 0.0),
 ...]